.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  /* perspective: 1000px; */
  border-radius: 100px;
}
.flip-card-inner {
  position: relative;
  width: 200px;
  height: 200px;
  text-align: center;
  transition: transform 0.9s;
  transform-style: preserve-3d;
  box-shadow: 10px 10px 5px grey;
  border-radius: 10%;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 200px;
  height: 200px;
  /* -webkit-backface-visibility: hidden; */
  backface-visibility: hidden;
}
.flip-card-front {
    background-color: gray;
    color: black;
    width: 200px;
    height: 200px;
  }
.flip-card-back {
  background-color: gray;
  color: black;
  transform: rotateY(180deg);
  border-radius: 10%;
  width: 200px;
  height: 200px;
}
main section {
  display: grid;
  grid-template-columns: 320px 320px 320px;
  padding: 10px 0;
}
main img {
  border-radius: 10%;
}
h2 {
  display: inline-block;
  width: 20%;
  margin-left: 40%;
  font-size: 150%;
  margin-bottom: 10px;
  /* background-color: lightblue; */
  text-align: center;
  box-shadow: 8px 8px 5px grey;
}
.fun {
  font-weight: bold;
}
h1 {
  font-weight: bold;
  font-size: 200%;
}
p {
  word-spacing: normal;
}