

ol li {
    margin: 15px;
    text-indent: none;
    list-style:upper-alpha;

}
    .org
    {
        margin-top: 55px;
        text-align: center;
       font-size: 300%;
       font-weight: bold;
    }
  
  .link:hover{
     color: blue;
     background-color: rgb(203, 242, 243);
    }

    .loc1
    {
        font-size: larger;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .link{
        text-decoration: none;
        font-style: italic;
        font-weight: bold;
    }
.info
{
    font-weight: bold;
}
    article
    {
        text-indent: 20px;
        margin-top: 48px;
        text-align: justify;
        display: flex;
    }

 .tel
 {
     font-weight: bold;
 }


.one {
  column-count: 2;
}

